@import '~@fortawesome/fontawesome-free/css/all.css';

html,
body {

    display: flex;
    justify-content: center;
    align-items: center;


}

body {

    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #1E1E1E;
}